@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Poppins',sans-serif;
}
nav{
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px 10% 10px 10%;
    justify-content: space-between;
    background-color: yellow;
    /* To fix nav bar below code */
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.logo{
    color: blue;
    font-size: 28px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:blue;
}
nav .logout{
    text-decoration: none;
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.4s;
}
nav .logout:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.mainbody{
    margin-top: 7%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
button[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  button[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
  }